main {
  width: 85%;
  margin: auto auto 2em;
  gap: 7em;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

/* HEADER */
header {
  font-size: 18px;
  padding: 1.2em 5em;
}

.logo {
  width: 6em;
}
/* HEADER */

/* HERO */
.hero {
  width: 80%;
  gap: 3em;
  margin: 4em auto;
}

.hero--blob {
  margin-left: -5em;
}

.hero--text {
  font-size: 4em;
  font-weight: 300;
  text-align: left;
}
/* HERO */

/* QUOTE */
.quote {
  font-size: 1.5em;
  padding: 0 5em;
}

.quote-top,
.quote-bottom {
  height: 3em;
  width: 2em;
}

.quote-top {
  border-radius: 3em 0.75em 1em 0.75em;
}

.quote-bottom {
  border-radius: 1em 0.75em 3em 0.75em;
}
/* QUOTE */

/* MENU */
.menu {
  width: 80%;
}

.menu--container {
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu--item {
  width: 30%;
  font-size: 1.2em;
}

.menu--details {
  height: calc(100% - 12em);
}

.menu--image-container {
  height: 11em;
}

.menu-title {
  font-size: 1.5em;
}

.menu--custom-title {
  font-size: 2em;
}

.menu--custom-desc {
  font-size: 1.4em;
}
/* MENU */

/* ILLUSTRATION */
.illustration--container {
  font-size: 1.5em;
  text-align: left;
}

.illustration--item {
  display: flex;
  align-items: center;
  gap: 2em;
}

.reverse-order {
  flex-direction: row-reverse;
  text-align: right;
}

.illustration-image {
  height: 12em;
}
/* ILLUSTRATION */

/* FOOTER */
footer {
  position: relative;
}

footer > img {
  height: 10em;
}

footer > p {
  bottom: 1em;
}
/* FOOTER */

/* HERO ABOUT */
.hero-about {
  font-size: 2em;
}
/* HERO ABOUT */

/* KITCHEN */
.chef--wrapper {
  font-size: 1.2em;
  justify-content: space-evenly;
}

.chef--container {
  width: 20%;
}

.profile-name {
  margin: 0.5em auto 1em;
}

.kitchen-deco {
  height: 15em;
  width: 100vw;
}
/* KITCHEN */

/* PROFILE */
.profile {
  font-size: 1.2em;
}

.profile--wrapper {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 5em;
}

.profile--wrapper > p {
  font-size: 1.25em;
}

.profile--container > .profile-name {
  text-align: center;
  color: #9e76dd;
  font-weight: 500;
}
/* PROFILE */
