@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

html {
  background-color: #6c6c6c;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #fffaf0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  margin: 0 auto;
  /* max-width: 400px; */
}

main {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-weight: 500;
}

.highlight {
  background: linear-gradient(to bottom, transparent 60%, #edbeac 50%);
  display: inline-block;
}

/* HEADER */
header {
  position: relative;
  z-index: 20;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--link {
  display: flex;
  gap: 1em;
  align-items: center;

  font-weight: bold;
  color: #6c6c6c;
}

.order-button {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  padding: 0.2em 0.625em;
  border: none;
  border-radius: 1.5em;
  background-color: #f0565c;
  color: #fffaf0;
}

.icon {
  height: 1.5em;
}
/* HEADER */

/* HERO */
.hero {
  display: flex;
  margin-top: -2em;
  align-items: center;
}

.hero--image {
  width: 20em;
  z-index: 10;
}

.hero--blob {
  width: 30em;
  position: absolute;
}

.hero--text {
  margin-top: 0.25em;
}
/* HERO */

/* QUOTE */
.quote--text {
  text-align: center;
  color: #6c6c6c;
  font-style: italic;
  font-weight: 300;

  margin: 1.2em auto;
}

.quote--text > span {
  display: block;
  margin-top: 1em;
  font-weight: 700;
}

.quote-top,
.quote-bottom {
  height: 2.375em;
  background-color: #f0565c;
  width: 1.75em;
}

.quote-top {
  margin-left: 0.5em;
}

.quote-bottom {
  margin-right: 0.5em;
  margin-left: auto;
}
/* QUOTE */

/* MENU */
.menu--container {
  display: flex;
  gap: 2.25em;
  text-align: left;
}

.menu--item {
  color: #6c6c6c;
}

.menu--details {
  display: flex;
  gap: 0.625em;
  flex-direction: column;
  justify-content: space-between;
}

.menu--image-container {
  width: 100%;
  background-color: #f6cda7;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 1.5em;
}

.menu--image {
  height: 100%;
}

.menu-price {
  color: #f49773;
  font-size: 1.25em;
  font-weight: 500;
}

.menu--image-costum {
  box-sizing: border-box;
  background-color: #9e76dd;
  padding: 0.625em;
}

.menu--custom-title {
  color: #f6cda7;
}

.menu--custom-desc {
  color: #fffaf0;
  margin-top: 1em;
}
/* MENU */

/* ILLUSTRATION */
.illustration--container {
  display: flex;
  flex-direction: column;
  gap: 2.25em;
  align-items: center;
  color: #787878;
}

.illustration--item {
  width: 80%;
}

.illustration-image {
  display: block;
  margin: auto;
}

.illustration--item > p > span {
  color: #f0565c;
}
/* ILLUSTRATION */

/* FOOTER */
footer {
  position: relative;
  font-size: 0.75em;
}

footer > img {
  display: block;
  width: 100%;
}

footer > p {
  color: #fffaf0;
  position: absolute;

  bottom: 0.65em;
  left: 0;
  right: 0;
  text-align: center;
}
/* FOOTER */

/* HERO ABOUT */
.hero-about {
  height: 9em;
  margin: 2em auto;
  position: relative;
}

.hero-about--blob {
  height: 9em;
  display: block;
  margin: auto;
  opacity: 0.3;
}

.hero-about--text,
.hero-about--desc {
  text-align: center;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

.hero-about--text {
  font-size: 2.5em;
  color: #9e76dd;
  top: 25%;
}

.hero-about--desc {
  font-size: 1.2em;
  color: #6c6c6c;
  top: 60%;
}
/* HERO ABOUT */

/* KITCHEN */
.kitchen {
  position: relative;
  width: calc(100% + 1.25em * 2);
}

.chef--wrapper {
  background-color: #f0565c;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.chef--container {
  text-align: center;
  width: 80%;
  margin: auto;
  color: #fffaf0;
}

.profile-image {
  width: 10em;
  border-radius: 50%;
}

.profile-name {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0.3em auto;
  color: #e1c8ff;
}

.kitchen-deco {
  display: block;
}
/* KITCHEN */

/* PROFILE */
.profile > .profile-name {
  color: #9e76dd;
  font-weight: 500;
}
/* PROFILE */
