h1 {
  font-size: 72px;
}

/* Header */
header {
  height: 100px;
  background-color: aqua;
}
/* Header */

/* Home */
#home {
  height: 100vh;
  background-color: floralwhite;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  align-content: center;
}

.hero {
  position: relative;
  z-index: 10;
}

.hero-text {
  grid-column-start: 2;
  grid-column-end: 4;
}

.blob {
  position: absolute;
  height: 550px;
  margin-left: -100px;
}
/* Home */

/* Intro */
#intro {
  height: 100vh;
  background-color: brown;
}
/* Intro */

/* Menu */
#menu {
  height: 100vh;
  background-color: teal;
}
/* Menu */

/* Kitchen */
#kitchen {
  height: 100vh;
  background-color: cornflowerblue;
}

.chef-container {
  display: flex;
}

.chef {
  height: 100px;
  width: 100px;
}
/* Kitchen */

/* About */
#about {
  height: 100vh;
  background-color: darkgreen;
}
/* About */

/* Footer */
footer {
  height: 100px;
  background-color: darkorange;
}
/* Footer */
