main {
  width: 90%;
  margin: auto auto 2em;
  gap: 6em;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

/* HEADER */
header {
  padding: 1em 2em;
}

.logo {
  width: 6em;
}
/* HEADER */

/* HERO */
.hero {
  flex-direction: column;
  margin: 2;
}

.hero--text {
  font-weight: 500;
  font-size: 2.5em;
}
/* HERO */

/* QUOTE */
.quote {
  font-size: 1.3em;
  padding: 0 1em;
}

.quote-top,
.quote-bottom {
  height: 2.375em;
  width: 1.75em;
}

.quote-top {
  border-radius: 3em 0.75em 1em 0.75em;
}

.quote-bottom {
  border-radius: 1em 0.75em 3em 0.75em;
}
/* QUOTE */

/* MENU */
.menu--container {
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu--item {
  width: 30%;
}

.menu--item:last-child {
  margin-top: 2em;
}

.menu--image-container {
  height: 10em;
}

.menu--custom-title {
  font-size: 1.5em;
}

.menu--custom-desc {
  font-size: 1.2em;
}

#order {
  font-size: 1.1em;
}

#order input {
  font-size: 0.8em;
}
/* MENU */

/* ILLUSTRATION */
.illustration--container {
  text-align: left;
}

.illustration--item {
  display: flex;
  align-items: center;
  gap: 2em;
}

.reverse-order {
  flex-direction: row-reverse;
  text-align: right;
}

.illustration-image {
  height: 12em;
}
/* ILLUSTRATION */

/* FOOTER */
footer {
  position: relative;
  font-size: 0.8em;
}

footer > img {
  height: 10em;
}

footer > p {
  bottom: 1em;
}
/* FOOTER */

/* HERO ABOUT */
.hero-about {
  font-size: 1.2em;
}
/* HERO ABOUT */

/* KITCHEN */
.chef--wrapper {
  flex-direction: row;
  justify-content: space-around;
}

.chef--container {
  width: 20%;
}

.profile-name {
  margin: 0.5em auto 1em;
}

.kitchen-deco {
  height: 15em;
  width: 100vw;
}
/* KITCHEN */

/* PROFILE */
.profile--wrapper {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 5em;
}
/* PROFILE */
