main {
  margin: auto auto 2em;
}

.logo {
  width: 6em;
}

.quote-top {
  border-radius: 3em 0.75em 1em 0.75em;
}

.quote-bottom {
  border-radius: 1em 0.75em 3em 0.75em;
}

.menu--container {
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu--item {
  width: 30%;
}

.menu--item:last-child {
  margin-top: 2em;
}

.illustration--container {
  text-align: left;
}

.illustration--item {
  display: flex;
  align-items: center;
  gap: 2em;
}

.reverse-order {
  flex-direction: row-reverse;
  text-align: right;
}

.illustration-image {
  height: 12em;
}

footer {
  font-size: 0.8em;
}

footer > p {
  bottom: 1em;
}

footer > img {
  height: 10em;
}

/* KITCHEN */
.chef--container {
  width: 20%;
}

.profile-name {
  margin: 0.5em auto 1em;
}

.kitchen-deco {
  height: 15em;
  width: 100vw;
}
/* KITCHEN */

/* PROFILE */
.profile--wrapper {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 5em;
}
/* PROFILE */
