main {
  width: 90%;
  gap: 6em;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

/* HEADER */
header {
  padding: 1em 2em;
}
/* HEADER */

/* HERO */
.hero {
  flex-direction: column;
  margin: 2em;
}

.hero--text {
  font-weight: 500;
  font-size: 2.5em;
}
/* HERO */

/* QUOTE */
.quote {
  font-size: 1.3em;
  padding: 0 1em;
}

.quote-top,
.quote-bottom {
  height: 2.375em;
  width: 1.75em;
}
/* QUOTE */

/* MENU */
.menu--image-container {
  height: 10em;
}

.menu--custom-title {
  font-size: 1.5em;
}

.menu--custom-desc {
  font-size: 1.2em;
}

#order {
  font-size: 1.1em;
}

#order input {
  font-size: 0.8em;
}
/* MENU */

/* HERO ABOUT */
.hero-about {
  font-size: 1.2em;
}
/* HERO ABOUT */

/* KITCHEN */
.chef--wrapper {
  flex-direction: row;
  justify-content: space-around;
}
/* KITCHEN */
